div#output-field{
  font-size: 60px!important;
}
div#output-field2{
  font-size: 60px!important;
}

div#forest-output-field{
  font-size: 60px!important;
}

div#forest-output-field2{
  font-size: 60px!important;
}
